<!DOCTYPE html>
<html>
  <head>
    <title>Faculty Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body
    ng-app="facultyApp"
    ng-controller="FacultyController">
    <div id="faculty">
      <div class="p-3 mt-48 text-white backdrop-brightness-50 rounded-2xl">
        <h1 class="text-6xl font-semibold leading-normal text-center">
          ECS Faculties
        </h1>
        <div class="flex space-x-[45vw] w-full">
          <div>
            <button
              id="toggleBtn"
              class="px-4 py-2 text-white bg-blue-500 rounded">
              Switch to List View
            </button>
          </div>
          <div>
            <div>
              <input
                type="text"
                ng-model="query"
                placeholder="Search..."
                class="px-4 py-2 border border-gray-300 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div
          class="grid-item"
          ng-repeat="faculty in faculties | filter:query">
          <div class="flex mt-5">
            <div
              class="max-w-sm mx-10 mt-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                <img
                  class="w-full rounded-t-lg"
                  ng-src="{{faculty.image}}"
                  alt="{{faculty.name}}" />
              </a>
              <div class="p-5">
                <a href="#">
                  <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{faculty.name}}
                  </h5>
                </a>
                <p
                  class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                  ng-bind-html="faculty.description"></p>
                <a
                  ng-href="{{faculty.profile}}"
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Profile
                  <svg
                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10">
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var app = angular.module("facultyApp", []);

      app.controller("FacultyController", function ($scope) {
        $scope.query = "";
        $scope.faculties = [
          {
            name: "Dr. Deepak Bhoir",
            image:
              "https://fragnel.edu.in/images/crce/department/ecs/dvbhoir.jpg",
            profile:
              "https://frcrce.ac.in/images/crce/department/ecs/profile/dvbhoir_profile.pdf",
            description:
              "Ph.D.<br><b>Areas of interest:</b><br>Instrumentation, Biomedical Instrumentation, Virtual Instrumentation, VLSI Design ,MEMS , Automation",
          },
          {
            name: "Ms. Binsy Joseph",
            image: "https://fragnel.edu.in/images/crce/department/ecs/bin.jpg",
            profile:
              "http://frcrce.ac.in/images/crce/department/ecs/profile/binsy_joseph_profile.pdf",
            description:
              "M.E., (Pursuing PhD)<br><b>Areas of interest:</b><br>Power electronics, Electrial Vehicle Battery Management, Renewable Energy System",
          },
          {
            name: "Ms. Dipali Koshti",
            image:
              "https://fragnel.edu.in/images/crce/department/comps/dipali.jpg",
            profile:
              "https://frcrce.ac.in/images/crce/department/ecs/profile/dipali_koshti_profile.pdf",
            description:
              "M.E., (Pursuing PhD)<br><b>Areas of interest:</b><br> Deep Learning, Machine Learning, Mobile Computing, Soft Computing, Database Management Systems",
          },
          {
            name: "Mr. Vaibhav Godbole",
            image:
              "https://fragnel.edu.in/images/crce/department/ecs/vaibhav.jpg",
            profile:
              "https://frcrce.ac.in/images/crce/department/ecs/profile/vaibhavprofile.pdf",
            description:
              "M.E., (Pursuing PhD)<br><b>Areas of interest:</b><br> Web Programming, Linux System Administration, Machine Learning, Bio-inspired Computation, Big Data Analytics",
          },
          {
            name: "Mrs. Archana Lopes",
            image:
              "https://fragnel.edu.in/images/crce/department/ecs/archana.jpg",
            profile:
              "http://frcrce.ac.in/images/crce/department/ecs/profile/Archana_Profile.pdf",
            description:
              "M.E., (Pursuing PhD)<br><b>Areas of interest:</b><br>Soft Computing, Computer Vision, Machine Learning, Data structures and algorithms, Discrete structures, Automata theory, Object oriented programming",
          },
          {
            name: "Mr. Jayen Modi",
            image:
              "https://fragnel.edu.in/images/crce/department/ecs/jayenmodi.jpg",
            profile:
              "https://frcrce.ac.in/images/crce/department/ecs/profile/Jayen_Modi_profile.pdf",
            description:
              "M.E., (Pursuing PhD)<br><b>Areas of interest:</b><br>Electronic Devices & Circuits, Signal Conditioning Circuit Design, Control Systems Engineering, Instrumentation Systems, Industrial Automation & Process Control, Management Information Systems, Project Management",
          },
          {
            name: "Mrs. Prajakta Bhangale",
            image:
              "https://fragnel.edu.in/images/crce/department/it/prajakta.jpg",
            profile: "",
            description:
              "M.E., (Pursuing PhD)<br><b>Areas of interest:</b><br> Security, Block Chain Technology, Big data Analysis, Java Programming",
          },
          {
            name: "Mrs. Jeenal Rambhia",
            image: "https://fragnel.edu.in/images/2024/06/28/jeenal.jpg",
            profile:
              "https://fragnel.edu.in/media/attachments/2024/06/28/jeenal-rambhia-profile.pdf",
            description:
              "M.E., (Pursuing PhD)<br><b>Areas of interest:</b><br> Biomedical Signal Processing, Neuroscience, Artificial Intelligence",
          },
          {
            name: "Mrs. Garima Singh",
            image:
              "https://fragnel.edu.in/images/2024/08/17/image_123650291.jpg",
            profile: "",
            description:
              "M.E.<br><b>Areas of interest:</b><br>VLSI Design, Internet of Things, Image Processing, Machine learning",
          },
        ];
      });
    </script>
  </body>
</html>
